.container {
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid #d0d5dd;
  border-radius: 0.8rem;
  padding: 1rem 1.4rem;
  width: 100%;
  min-height: 4.4rem;
  background: #ffffff;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  outline: none;

  @media screen and (min-width: 1024px) {
    cursor: pointer;
  }

  &:focus {
    border-color: #d6bbfb;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #f4ebff;
  }
}

.value,
.placeholder {
  display: flex;
  flex-grow: 1;
  gap: 0.5rem;
  flex-wrap: wrap;
  user-select: none;
}

.placeholder {
  color: #667085;
}

.caret {
  flex-shrink: 0;
  color: #667085;
}

.options {
  position: absolute;
  top: calc(100% + 1rem);
  left: 0;
  display: none;
  border: 1px solid #eaecf0;
  border-radius: 0.8rem;
  padding: 0.6rem;
  max-height: 32rem;
  width: 100%;
  overflow-y: auto;

  &Show {
    display: block;
  }
}

.option {
  display: flex;
  align-items: center;
  border-radius: 0.6rem;
  padding: 1rem 1rem 1rem 0.8rem;

  &Selected {
    .optionCheck {
      opacity: 100%;
      visibility: visible;
    }
  }

  &Highlighted {
    background: #f9fafb;
  }

  &Value {
    flex-grow: 1;
    font-weight: 500;
    color: #101828;
  }

  &Check {
    color: #7f56d9;
    opacity: 0;
    visibility: hidden;
    transform: scale(1.3);
  }

  &Badge {
    display: flex;
    align-items: center;
    border: 1px solid #d0d5dd;
    border-radius: 0.6rem;
    padding: 0.4rem 0.5rem;
    font-weight: 500;
    font-size: 1.4rem;
    color: #344054;
    background: #ffffff;

    @media screen and (min-width: 1024px) {
      cursor: pointer;
    }

    &Remove {
      margin-left: 0.5rem;
      color: #98a2b3;
    }
  }
}
